<!--# -*- coding: utf-8 -*-
"""
Created on Tue Sep 16 16:36:19 2025

@author: jacques
"""-->

<!DOCTYPE html>
{% autoescape true %}
<title>Sudy Administration</title>

<head>
    <meta charset="UTF-8" />
</head>

<script src="{{ url_for('static', filename='JS/admin_home.js')}}"></script>

<h1>Hello, {{ username }}!</h1>
<h2>Welcome to Lyon Dermoscopy Studies<h2>
{% if study_status in ['ongoing', 'paused', 'test'] %}
    {% if remaing_users > 0 %}
        {% if remaining_days > 0 %}<h2>Study {{studyname}} ends in {{remaining_days}} days<h2>
        {% else %}<h2>Study is supposed to be over, you may end it anytime<h2>
        {% endif %}
        <h2>Out of {{total_users}}, {{remaing_users}} have yet to finish their reviews<h2>
    {% else %}
        <h2>Everyone has finished their reviews, you may close the study anytime<h2>
        {% if remaining_days > 0 %}<h2>You still have {{remaining_days}} days before intended study end date<h2>
        {% else %} <h2>Study is supposed to be over, you may end it anytime<h2>
        {% endif %}
    {% endif %}
{% endif %}

<a href="/logout/">
  <button>Logout</button>
</a>
<br/>
<a href="/change_password/">
  <button>Change Password</button>
</a>
<br/>
<a href="/new_user/">
  <button>Create User</button>
</a>
<br/>
{% if study_status == 'stopped' %}
<a href="/category_configuration/">
  <button>Manage Categories</button>
</a>
<br/>
{% endif %}
{% if study_status == 'categories_done' %}
<a href="/manage_uploads/">
  <button>Manage Uploads</button>
</a>
<br/>
<a href="/rollback_categories/">
  <button>Back to Categories</button>
</a>
<br/>
{% endif %}
{% if study_status == 'uploads_done' %}
<a href="/manage_reviewer_repartition/">
  <button>Manage Reviewer Repartition</button>
</a>
<br/>
<a href="/rollback_uploads/">
  <button>Back to Uploads</button>
</a>
<br/>
{% endif %}
{% if study_status == 'ready' %}
<a href="/begin_study/">
  <button>Begin Study</button>
</a>
<br/>
<a href="/begin_testing/">
  <button>Begin Testing</button>
</a>
<br/>
<a href="/rollback_repartition/">
  <button>Back to Repartition</button>
</a>
<br/>
{% endif %}
{% if study_status == 'test' %}
<a href="/test_rollback/categories">
  <button>Back to Categories</button>
</a>
<br/>
<a href="/test_rollback/uploads">
  <button>Back to Uploads</button>
</a>
<br/>
<a href="/test_rollback/repartition">
  <button>Back to Repartition</button>
</a>
<br/>
{% endif %}
{% if study_status == 'ongoing' %}
<a href="/pause_study/">
  <button>Pause Study</button>
</a>
<br/>
{% endif %}
{% if study_status == 'paused' %}
<a href="/resume_study/">
  <button>Resume Study</button>
</a>
<br/>
<a href="/confirm_end/">
  <button>End Study</button>
</a>
<br/>
{% endif %}
{% if ((study_status == 'ended') or (study_status == 'paused') or (study_status == 'test')) %}
<a href="/export_data/">
  <button>Export Data</button>
</a>
<br/>
{% endif %}
{% if study_status == 'ended' %}
<a href="/confirm_clear_users/">
  <button>Clear Users and Data</button>
</a>
<br/>
{% endif %}
{% if display_others %}
<br/>
{% block title %} Users :{% endblock %}
{% block content %}
  <ol>
  {% for otherUser in otherUsers %}
    <li><a>{{otherUser[1]}}</a> : <a>{{otherUser[2]}}</a> {% if otherUser[3] %} <a>Study Administrator</a> {% else %} <a>Reviewer</a> {% if otherUser[4] > 0 and not otherUser[3] and (study_status in ['ongoing', 'paused', 'test']) %} <a> {{otherUser[4]}} remaining reviews </a> {% endif %} {% if otherUser[4] == 0 and not otherUser[3] and (study_status in ['ongoing', 'paused']) %} <a> Reviews Finished ! </a> {% endif %} {% endif %} 
        {% if study_status != 'ongoing' %} <a href="/confirm_delete_user/{{otherUser[0]}}"><button>delete user</button></a>{% endif %}
        <a href="/reset_password/{{otherUser[0]}}">
          <button>reset password</button>
        </a>
     </li>
  {% endfor %}
  </ol>
{% endblock %}
{% endif %}

{% endautoescape %}




