<!--# -*- coding: utf-8 -*-
"""
Created on Tue May 19 14:20:19 2026

@author: j.thomas
"""-->

<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0"/>
    <title>Case Learning</title>

    <!-- Viewer.js -->
    <script src="{{url_for('static', filename='node_modules/viewerjs/dist/viewer.min.js')}}"></script>

    <script src="{{url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
    

    <link rel="stylesheet" href="{{url_for('static', filename='node_modules/viewerjs/dist/viewer.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/case_learning.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/helper.css')}}"/>
    
    
</head>

<body>
    <div class="case-header">
        {{ViewModel.study_name}} {{ViewModel.case_name}}
    </div>
    <div class="split left">
        <div class="centered">
            {% block images %}<h1>Images</h1>{% endblock %}
            {% block images_content %}
                <div id="gallery">
                {% for i in range(ViewModel.nb_imgs) %}
                    <img class="case_img" src="data:image/jpeg;base64,{{ ViewModel.imgs[i] }}" alt="Picture {{i}}">
                {% endfor %}
                </div>
            {% endblock %}
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <a>you answered <a {% if ViewModel.answer == ViewModel.correct_answer %} class="correct" {% else %} class="wrong" {% endif %} > {{ViewModel.answer}} </a></a>
            </br>
            <a>correct answer was <a {% if ViewModel.answer == ViewModel.correct_answer %} class="correct" {% else %} class="incorrect" {% endif %} > {{ViewModel.correct_answer}} </a></a>
            </br>
            {% if ViewModel.answer == ViewModel.correct_answer %}
                <a> Congratulations ! </a>
            {% else %}
                <a> You may look at the image again to find out what you might have missed </a>
            {% endif %}
            <div class="button_area">
                <a href="/user_home/">
                  <button>Leave</button>
                </a>
                {% if ViewModel.prevcase != -1 %}<a href="/case_learning/{{ViewModel.prevcase}}"><button>Previous Case</button></a>
                {% else %} <button type="button" disabled>Previous Case</button>
                {% endif %}
                {% if ViewModel.nextcase != -1 %}<a href="/case_learning/{{ViewModel.nextcase}}"><button>Next Case</button></a>
                {% else %} <button type="button" disabled>Next Case</button>
                {% endif %}
            </div>
            <br/>
        </div>
    </div>
</body>

<script src="{{ url_for('static', filename='JS/case_learning.js')}}"></script>
{% endautoescape %}
</html>

