<!--# -*- coding: utf-8 -*-
"""
Created on Mon Mar 31 15:26:07 2025

@author: jacques
"""-->

<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0"/>
    <title>Case Display</title>

    <!-- Viewer.js -->
    <script src="{{url_for('static', filename='node_modules/viewerjs/dist/viewer.min.js')}}"></script>

    <script src="{{url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
    

    <link rel="stylesheet" href="{{url_for('static', filename='node_modules/viewerjs/dist/viewer.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/case_display.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/helper.css')}}"/>
    
    <style>
        .slidecontainer {
          width: 100%;
        }
        
        .slider {
          -webkit-appearance: none;
          width: 100%;
          height: 15px;
          background: linear-gradient(to left, green, yellow 50%, red) content-box;          /* le centre */
          opacity: 0.7;
          -webkit-transition: .2s;
          transition: opacity .2s;
        }
        
        .slider:hover {
          opacity: 1;
        }
        
        .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 25px;
          height: 25px;
          background: #04AA6D;
          cursor: pointer;
        }
        
        .slider::-moz-range-thumb {
          height: 15px;
          border-radius: 100%;
          background: &#x25BE;
          cursor: pointer;
        }
    </style>
    
</head>

<body>
    <div class="case-header">
        WoW {{case_name}}
    </div>
    <div class="split left">
        <div class="centered">
            {% block images %}<h1>Images</h1>{% endblock %}
            {% block images_content %}
                <div id="gallery">
                {% for i in range(nb_imgs) %}
                    <img class="case_img" src="data:image/jpeg;base64,{{ imgs[i] }}" alt="Picture {{i}}">
                {% endfor %}
                </div>
            {% endblock %}
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <form id="criteria-form" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {% for i in range(nbTitles) %}
                    {% set ns = namespace (done = False) %}
                    <div class="Title_block" id={{titles[i]}}>
                        <h1>{{titles[i]}}</h1>
                        {% for criterion in criteria[i] %}
                            {% if criterion[0] == 1 %}
                            {% set ns.done = True %}
                                <fieldset>
                                    <legend>{{criterion[1]}}</legend>
                                    <div class="criterion-row">
                                        <div class="options">
                                            <input type="radio" id="{{criterion[1]}}Yes" name="{{criterion[1]}}" onclick="safeguard({{case_id}}, {{criterion[4]}}, 1, {{criterion[0]}}, {{i}})" value=1 {% if criterion[2]==1 %} checked {% endif %}/>
                                            <label for="{{criterion[1]}}Yes">Yes</label>
        
                                            <input type="radio" id="{{criterion[1]}}No" name="{{criterion[1]}}" onclick="safeguard({{case_id}}, {{criterion[4]}}, 2, {{criterion[0]}}, {{i}})" value=2 {% if criterion[2]==2 %} checked {% endif %}/>
                                            <label for="{{criterion[1]}}No">No</label>
        
                                            <input type="radio" id="{{criterion[1]}}unanswered" name="{{criterion[1]}}" onclick="safeguard({{case_id}}, {{criterion[4]}}, 0, {{criterion[0]}}, {{i}})" value=0 {% if criterion[2]==0 %} checked {% endif %} disabled hidden/>
                                            <label hidden for="{{criterion[1]}}unanswered">unanswered</label>
                                        </div>
                                        {% if criterion[5] %}
                                            <div class="tutorial-btn">
                                                <input type="button" onclick="tutorial({{criterion[4]}})" value="?" />
                                            </div>
                                        {% endif %}
                                    </div>
                                </fieldset>
                            {% endif %}
                        {% endfor %}
                        {% if not ns.done %}
                            <fieldset>
                                <legend>{{titles[i]}}</legend>
                                    <div class="{{titles[i]}}-diagnosis-options">
                                        {% for criterion in criteria[i] %}
                                            {% if criterion[0] == 2 %}
                                                <div class="criterion-row">
                                                    <div class="options">
                                                        <input type="radio" id="{{criterion[1]}}" name="{{titles[i]}}-diagnosis" onclick="safeguard({{case_id}}, {{criterion[4]}}, 1, {{criterion[0]}}, {{i}}); updateVisibility('{{titles[i]}}', '{{criterion[1]}}');" value=1 {% if criterion[2]==1 %} checked {% endif %}/>
                                                        <label for="{{criterion[1]}}">{{criterion[1]}}</label>
                                                    </div>
                                                    {% if criterion[5] %}
                                                        <div class="tutorial-btn">
                                                            <input type="button" onclick="tutorial({{criterion[4]}})" value="?" />
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <input type="radio" id="{{titles[i]}}unanswered" name="titles[i]" value=0 {% if unanswered[i] %} checked {% endif %} disabled hidden/>
                                        <label hidden for="unanswered">unanswered</label>
                                    </div>
                            </fieldset>
                            {% for criterion in criteria[i] %}
                                {% if criterion[0] == 3 %}
                                    {{titles[i]}} Confidence Index
                                    <div class="slidecontainer">
                                      <input type="range" min="0" max="100" value="{{criterion[2]}}" class="slider" id="TrustScale{{i}}" oninput="updateValue({{i}}, {{case_id}}, {{criterion[4]}}, {{criterion[0]}})">
                                      <p>Value: <span id="TrustValue{{i}}">{{criterion[2]}}</span></p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}  
                    </div> 
                {% endfor %}
                <p>
            </form>
            <div class="button_area">
                <a href="/user_home/">
                  <button>Save and leave</button>
                </a>
                {% if nextcase != 0 %}<a href="/case_display/{{nextcase}}"><button>Next Case</button></a>
                {% else %} <button type="button" disabled>Next Case</button>
                {% endif %}
            </div>
            <br/>
        </div>
    </div>

    <div id="tutorialModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <iframe id="tutorialFrame" src="" frameborder="0"></iframe>
      </div>
    </div>
</body>

<script src="{{ url_for('static', filename='JS/case_display.js')}}"></script>
{% endautoescape %}
</html>




