<!--# -*- coding: utf-8 -*-
"""
Created on Mon Mar 31 15:26:07 2025

@author: jacques
"""-->

<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0"/>
    <title>Case Display</title>

    <!-- Viewer.js -->
    <script src="{{url_for('static', filename='node_modules/viewerjs/dist/viewer.min.js')}}"></script>

    <script src="{{url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
    

    <link rel="stylesheet" href="{{url_for('static', filename='node_modules/viewerjs/dist/viewer.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/case_display.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/helper.css')}}"/>
    
    
</head>

<body>
    <div class="case-header">
        {{ViewModel.study_name}} {{ViewModel.case_name}}
    </div>
    <div class="split left">
        <div class="centered">
            {% block images %}<h1>Images</h1>{% endblock %}
            {% block images_content %}
                <div id="gallery">
                {% for i in range(ViewModel.nb_imgs) %}
                    <img class="case_img" src="data:image/jpeg;base64,{{ ViewModel.imgs[i] }}" alt="Picture {{i}}">
                {% endfor %}
                </div>
            {% endblock %}
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <form id="criteria-form" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {% for category in ViewModel.categories %}
                    <div {% if category.optional %} class="optional_category" {% else %} class="mandatory_category" {% endif %} id="{{category.name}}">
                        {% if category.optional %}
                            <a id="{{category.name}}_prerequisites" class="category_prerequisite" data-conditions="{{category.prerequisites}}" hidden></a>
                        {% endif %}
                        {% if category.type == 1 %}
                            <h1>{{category.name}}</h1>
                            {% for criterion in category.criteria %}
                                <fieldset>
                                    <legend>{{criterion.name}}</legend>
                                    <div class="criterion-row">
                                        <div class="options">
                                            <input type="radio" id="{{criterion.id}}Yes" name="{{criterion.name}}" onclick="safeguard({{ViewModel.case_id}}, {{criterion.id}}, 1, {{category.cat_id}})" value=1 {% if criterion.value==1 %} checked {% endif %}/>
                                            <label for="{{criterion.id}}Yes">Yes</label>
                                            
                                            <input type="radio" id="{{criterion.id}}No" name="{{criterion.name}}" onclick="safeguard({{ViewModel.case_id}}, {{criterion.id}}, 2, {{category.cat_id}})" value=2 {% if criterion.value==2 %} checked {% endif %}/>
                                            <label for="{{criterion.id}}No">No</label>
                                            
                                            {% if category.has_NA %}
                                                <input type="radio" id="{{criterion.id}}NA" name="{{criterion.name}}" onclick="safeguard({{ViewModel.case_id}}, {{criterion.id}}, 3, {{category.cat_id}})" value=3 {% if criterion.value==3 %} checked {% endif %}/>
                                                <label for="{{criterion.id}}NA">N/A</label>
                                            {% endif %}
                                            
                                            <input type="radio" id="{{criterion.id}}unanswered" name="{{criterion.name}}" value=0 {% if criterion.value==0 %} checked {% endif %} disabled hidden/>
                                            <label hidden for="{{criterion.id}}unanswered">unanswered</label>
                                        </div>
                                        {% if category.has_tutorial %}
                                            <div class="tutorial-btn">
                                                <input type="button" onclick="tutorial({{criterion.id}})" value="?" />
                                            </div>
                                        {% endif %}
                                    </div>
                                </fieldset>
                            {% endfor %}
                        {% endif %}
                        {% if category.type == 2 %}
                            <fieldset>
                                <legend>{{category.name}}</legend>
                                    <div class="{{category.name}}-diagnosis-options">
                                        {% for criterion in category.criteria %}
                                            <div class="criterion-row">
                                                <div class="options">
                                                    <input type="radio" id="{{criterion.id}}" name="{{category.name}}-diagnosis" onclick="safeguard({{ViewModel.case_id}}, {{criterion.id}}, 1, {{category.cat_id}}); updateVisibility();" value=1 {% if criterion.value==1 %} checked {% endif %}/>
                                                    <label for="{{criterion.id}}">{{criterion.name}}</label>
                                                </div>
                                                {% if category.has_tutorial %}
                                                    <div class="tutorial-btn">
                                                        <input type="button" onclick="tutorial({{criterion.id}})" value="?" />
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                        <input type="radio" id="{{category.name}}unanswered" name="category.name" value=0 {% if category.unanswered %} checked {% endif %} disabled/>
                                        <label hidden for="{{category.name}}unanswered">unanswered</label>
                                    </div>
                            </fieldset>
                        {% endif %}
                        {% if category.type == 3 %}
                            <h1>{{category.name}}</h1>
                            {% for criterion in category.criteria %}
                                <fieldset>
                                    <legend>{{criterion.name}}</legend>
                                    <div class="criterion-row">
                                        <input id="{{criterion.id}}" type="number" name="{{criterion.name}}" value="{{criterion.value}}" oniput="save({{ViewModel.case_id}}, {{criterion.id}}, {{category.cat_id}}); updateVisibility();">
                                        {% if category.has_tutorial %}
                                            <div class="tutorial-btn">
                                                <input type="button" onclick="tutorial({{criterion.id}})" value="?" />
                                            </div>
                                        {% endif %}
                                    </div>
                                </fieldset>
                            {% endfor %}
                        {% endif %}
                        {% if category.has_trust %}
                            <a>{{category.name}} Confidence Index</a>
                            <div class="slidecontainer">
                              <input type="range" min="0" max="100" value="{{category.trust_criterion.value}}" class="slider" id="{{category.name}}TrustScale" oninput="updateValue('{{category.name}}', {{ViewModel.case_id}}, {{category.trust_criterion.id}}, {{category.cat_id}})">
                              <p>Value: <span id="{{category.name}}TrustValue">{{category.trust_criterion.value}}</span></p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <p>
            </form>
            <div class="button_area">
                <a href="/user_home/">
                  <button>Save and leave</button>
                </a>
                {% if ViewModel.nextcase != -1 %}<a href="/case_display/{{ViewModel.nextcase}}"><button>Next Case</button></a>
                {% else %} <button type="button" disabled>Next Case</button>
                {% endif %}
            </div>
            <br/>
        </div>
    </div>

    <div id="tutorialModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <iframe id="tutorialFrame" src="" frameborder="0"></iframe>
      </div>
    </div>
</body>

<script src="{{ url_for('static', filename='JS/case_display.js')}}"></script>
{% endautoescape %}
</html>




