<!-- -*- coding: utf-8 -*-
"""
Created on Fri Sep 19 00:05:32 2025

@author: jacques
"""-->


<!DOCTYPE html>
{% autoescape true %}
<title>Changing password</title>
{% if error %}
  <h1>There has been an error : {{ error }}!</h1>
{% endif %}
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <a> Current Password </a>
        <p><input type=password name=oldPass>
        <br/>
        <a> New Password </a>
        <p><input type=password name=newPass>
        <br/>
        <a> Confirm New Password </a>
        <p><input type=password name=confirmPass>
        <p><input type=submit value=Change Password>
    </form>
{% endautoescape %}
