<!--# -*- coding: utf-8 -*-
"""
Created on Tue Apr 21 14:29:57 2026

@author: j.thomas
"""-->

<!DOCTYPE html>
{% autoescape true %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0"/>
    <title>Reviewer Repartition Management</title>

    <script src="{{url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
    
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/manage_reviewer_repartition.css')}}"/>
    
</head>

<body>
    <div class="split left">
        <div class="centered">
            <form id="nb_reviewers_form" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <a>Number of cases in your study</a>
                <p><input id="nb_cases" type="number" name="nb_cases" value="{{VM.nb_cases}}" readonly>
                <br/>
                <br/>
                <br/>
                <a>Number of reviewers currently in your study</a>
                <p><input id="nb_reviewers" type="number" name="nb_reviewers" value="{{VM.nb_reviewers}}" readonly>
                <br/>
                <br/>
                <br/>
                <a>Number of full reviewers currently in your study</a>
                <p><input id="nb_full_reviewers" type="number" name="nb_full_reviewers" value="{{VM.nb_full_reviewers}}" readonly>
                <br/>
                <br/>
                <br/>
                <a>How many more reviewers are expected ?</a>
                <p><input id="expected_additional_reviewers" type="number" name="additional_reviewers" value="0" min="0" oninput="update_figures()">
                <br/>
                <br/>
                <br/>
                <a>How many of them will be full reviewers ?</a>
                <p><input id="expected_additional_full_reviewers" type="number" name="additional_full_reviewers" value="0" min="0" oninput="update_figures()">
                <br/>
                <br/>
                <br/>
                <a>Grand total reviewers in your study</a>
                <p><input id="total_nb_reviewers" type="number" name="total_nb_reviewers" value="{{VM.nb_reviewers}}" readonly>
                <br/>
                <br/>
                <br/>
                <a>Grand total full reviewers in your study</a>
                <p><input id="total_nb_full_reviewers" type="number" name="total_nb_full_reviewers" value="{{VM.nb_full_reviewers}}" readonly>
                <br/>
                <br/>
                <br/>
                <div id="display_reviewers_per_case">
                    <h2>With current parameters, each case will be reviewed by at least this many reviewers</h2>
                    <p><input id="nb_reviewers_per_case" type="number" name="nb_reviewers_per_case" value="" readonly>
                    <br/>
                </div>
                <div id="display_cases_per_reviewer">
                    <h2>With current parameters, each reviewer will review at least this many cases</h2>
                    <p><input id="nb_cases_per_reviewer" type="number" name="nb_cases_per_reviewer" value="" readonly>
                    <br/>
                </div>
            </form>
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <form id="nb_reviewers_form" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <fieldset>
                <legend>How will you assign cases to reviewers ?</legend>
                <input type="radio" id="repartition_all" name="repartition" value="all for all" onclick="update_everything()" checked/>
                <label for="repartition">All cases reviewed by all reviewers</label>
                </br>
                <input type="radio" id="n_per_case" name="repartition" value="n per case" onclick="update_everything()"/>
                <label for="repartition">Set a minimum number of reviewer per case</label>
                </br>
                <input type="radio" id="n_per_reviewer" name="repartition" value="n per reviewer" onclick="update_everything()"/>
                <label for="repartition">Set a minimum number of case per reviewer</label>
                </br>
                <input type="radio" id="percent_per_reviewer" name="repartition" value="percent per reviewer" onclick="update_everything()"/>
                <label for="repartition">Set a percentage of case per reviewer</label>
                </fieldset>
                </br>
                <div id="select_n_per_case">
                    <input type="number" id="reviewers_per_case" name="reviewer_per_case" value="{{VM.nb_reviewers}}" min="0" step="1" oninput="update_figures()"/>
                    <label for="reviewer_per_case">The number of reviewer that will review each case</label>
                </div>
                <div id="select_n_per_reviewer">
                    <input type="number" id="cases_per_reviewer" name="cases_per_reviewer" value="{{VM.nb_cases}}" min="0" max="{{VM.nb_cases}}" step="1" oninput="update_figures()"/>
                    <label for="cases_per_reviewer">The number of cases that will be attributed to each reviewer</label>
                </div>
                <div id="select_percent_per_reviewer">
                    <input type="number" id="percentage" name="percentage" value="100" min="0" max="100" step="1" oninput="update_figures()"/>
                    <span class="input-group-text">%</span>
                    <label for="percentage">The percentage of cases that will be attributed to each reviewer</label>
                </div>
                <p><input type=submit value="Confirm Repartition">
            </form>
            <a href="/user_home/">
                <button>Leave</button>
            </a>
        </div>
    </div>
    
</body>

<script src="{{url_for('static', filename='JS/manage_reviewer_repartition.js')}}"></script>

{% endautoescape %}
</html>