<!--# -*- coding: utf-8 -*-
"""
Created on Wed Sep 17 18:46:18 2025

@author: jacques
"""-->

<!DOCTYPE html>
{% autoescape true %}
<title>Password reset</title>

<h2>Password was succesfully reset for user {{userName}} on login {{userLogin}} !<h2>
<h3>Their new password is now {{newPassword}}<h3>
<h3>Please copy it now and communicate it to them discreetly, it will not be displayed after you leave this page<h3>
<h4>You may still reset it again if need be<h4>

<a href="/user_home/">
  <button>return home</button>
</a>

{% endautoescape %}
