<!--# -*- coding: utf-8 -*-
"""
Created on Mon Mar 31 15:26:07 2025

@author: jacques
"""-->

<!--# -*- coding: utf-8 -*-
"""
Created on Mon Mar 31 15:26:07 2025

@author: jacques
"""-->

<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HomePage</title>
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/user_home.css')}}"/>

</head>
<body>

  <h1>Hello, {{ username }}!</h1>
  <h2>Intraoperative dermoscopy of the nail apparatus – Case review platform</h2>

  <h2>Current progress in labelling :</h2>
  {% if remaining_items > 0 %}
    <h2>- {{remaining_items}} cases pending review<h2>
    {% if remaining_days > 0 %}<h2>- Study deadline: in {{remaining_days}} days<h2>
    {% else %}<h2>- Study deadline has passed<h2>
    {% endif %}
  {% else %}
      <h2>- No cases pending review</h2>
      {% if remaining_days > 0 %}<h2>- Study deadline: in {{remaining_days}} days<h2>
      {% else %}<h2>- Study deadline has passed<h2>
      {% endif %}
  {% endif %}

    <a href="/logout/">
      <button>Logout</button>
    </a>
  <br/>
    <a href="/change_password/">
      <button>Change Password</button>
    </a>
  <br/><br/>

  <ul class="grid-list">
    {% for item in items %}
      <li class="{% if item[2] %}done-box{% endif %}">
        <a href="/case_display/{{ item[0] }}">
          {{ item[1] }}
          {% if item[2] %}<span></span>{% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</body>
{% endautoescape %}
</html>